.btn {
  display: inline-block;
  background-color: lightblue;
  border: none;
  text-align: center;
  box-sizing: border-box;
  padding: 20px 40px;
  min-width: 10vw;
  font-size: 20px;
  font-family: sans-serif;
  color: black;
}

.btn {
  background-repeat: no-repeat;
}
