@import "globals";

section.forgot {
  position: fixed;
  top: 100px;
  left: 40px;
  width: 100%;
  display: inline-grid;
  background-color: #ffffff;

  h1 {
    font-size: 3em;
    color: cornflowerblue;
  }

  h4 {
    font-size: 1em;
    color: black;
  }
}


div[id="forgot-detail"] {
  position: fixed;
  top: 200px;
  left: 40px;
  width: 100%;
  display: inline;
  background-color: #ffffff;

  h1 {
    font-size: 3em;
    color: cornflowerblue;
  }

  h4 {
    font-size: 1em;
    color: black;
  }

  div[id="messageboard"]{
    position: relative;
    width: 100%;
    display: grid;
    color: indianred;
    font-weight: bold;
    background-color: #f1f1f1;
  }
  div[id="forgot-entry"]{
    position: fixed;
    top: 300px;
    left: 40px;
    width: 100%;
    display: grid;
    color: black;
    font-weight: bold;
    background-color: #f1f1f1;
  }

  input[type="submit"] {
    background-color: cornflowerblue;
    color: whitesmoke;
    border: black;
    margin: .5em;
    padding: .25em;
    font-size: 1.2em;
    height: +2em;
    width: 225px;
    border-style: ridge;
    border-radius: 34px;
    display: inline;
  }

}


form[id="forgot-entry"] {
  position: relative;
  width: 100%;
  display: inline-grid;
  background-color: #ffffff;

  >:first-child {
    flex-grow: 0;
  }

  input {
    margin: .5em;
    padding: .25em;
    font-size: 1.2em;
    border-radius: 5px;
  }

  input[type="email"] {
    margin: 8px;
    display: block;
    border: 1px solid #bbb;
    color: #515151;
    outline: 0;
    padding: 6px;
    font-size: 1.1em;
    width: fit-content;
    border-radius: 4px;
    background: url('../src/components/ui/images/almonds/email.png') no-repeat 10px 8px;
    background-size: 16px 16px;
    padding-left: 32px;
  }

}
