@import "globals";

nav.main-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 46px;
  width: 100%;
  z-index: 100;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: #8d8741;
  display: flex;
  justify-content: space-around;
  align-items: center;
  // color: #daad86;
  a {
    color: ghostwhite;
    // text-align: center;
    padding: 0.5em;
    font-size: 1.5em;
  }
}

div.about-menu {
  position: fixed;
  top: 46px;
  left: 0;
  height: 44px;
  width: 100%;
  z-index: 100;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  animation: navdrop 2s;
  // timing-function delay iteration-count direction fill-mode;
  color: cornflowerblue;
  list-style-type: none;
  display: flex;
  background-color: #daad86;

  > li {
    flex-grow: 1;

    > a {
      display: block;
      width: calc(100% - 1em);
      text-align: center;
      text-decoration: none;
      color: ghostwhite;
      padding: 0.5em;
    }
  }
}
// animation for about nav drop down
@keyframes navdrop {
  from {
    top: 0px;
  }
  to {
    top: 46px;
  }
}

div.event-menu {
  padding: 0px 0px 0px 0px;
  height: 50px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 50;
  list-style-type: none;
  display: flex;
  background-color: darkblue;

  > li {
    flex-grow: 1;

    > a {
      display: block;
      width: calc(100% - 1em);
      text-align: center;
      text-decoration: none;
      color: ghostwhite;
      padding: 0.5em;
    }
  }
}

// .dropdown {
//   position: relative;
//   display: inline-block;
// }

// .dropdown-content {
//   display: none;
//   position: absolute;
//   background-color: #f9f9f9;
//   min-width: 160px;
//   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
//   padding: 12px 16px;
//   z-index: 1;
// }

// .dropdown:hover .dropdown-content {
//   display: block;
// }
